padding_block = 1em
padding_element = .3em .6em


background_main = #fff
color_text = #5a5f61
color_link = #5a5f61

inline_middle()
    display inline-block
    vertical-align middle

inline_top()
    display inline-block
    vertical-align top

transition(p, d, t)
    transition-property: p;
    transition-duration: d;
    transition-timing-function: t;

body
    font: 100%/140% 'Varela Round', sans-serif;
    padding 0
    margin 0
    color color_text
    background background_main

h1, h2, h3, h4, h5
    line-height 1

a
    color link_color
    transition(all, 0.1s, ease)
    &:hover
        text-decoration none

img
    max-width 100%
    display block
    text-align center
    margin auto

.if
    position relative
    padding-bottom 56.25%
    padding-top 30px
    height 0
    overflow hidden
    iframe
    object
    embed
        position absolute
        top 0

input
    &:focus
        outline none

.blue_link
.green_link
.green_button
    color #fff
    text-decoration none

.blue_link
    background #00b1af

.green_link
    background #8dc640

.green_button
    background #8dc640