// .main_header
//     position fixed
//     top 0
//     .top_nav
//         margin 0
//         padding 0
//         li
//             display inline-block

// .main_container
//     width 80%
//     margin auto

// .main_aside
//     width 320px

// .container
//     box-sizing border-box
//     padding 1em .5em

// .bricks
//     overflow hidden

// .post
//     &.portrait
//         width 60%
//         float left
//     &.landscape
//         width 40%
//         float left