body{font:100%/140% 'Varela Round',sans-serif;padding:0;margin:0;color:text_color;background:#fff}
h1,h2,h3,h4,h5{line-height:1;font-size:1.6em;font-family:Helvetica,Arial,Tahoma}
a{color:link_color;-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.1s;transition-duration:.1s;-webkit-transition-timing-function:ease;transition-timing-function:ease;}
a:hover{text-decoration:none}
img{max-width:100%;display:block;text-align:center;margin:auto}
.if{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
.if iframe,.if object,.if embed{position:absolute;top:0}
input:focus{outline:none}
.container{width:920px;margin:auto}
.site-logo{width:254px;height:90px;background:url("../images/logo.jpg") no-repeat;position:absolute;top:-15px;left:0}
.site-header{padding:32px 0 34px 0;}
.site-header > .container{position:relative}
.site-header .gray_decor{background:#e0e0df}
.site-header nav{text-align:right}
.site-header ul{margin:0;padding:0;}
.site-header ul li{display:inline-block;vertical-align:middle}
.site-header .social{padding-right:40px;}
.site-header .social img{max-width:16px;max-height:16px}
.site-header .site-nav a{display:inline-block;vertical-align:middle;margin-left:20px;color:#5a5f61;text-decoration:none;}
.site-header .site-nav a:hover{text-decoration:underline}
.site-showcase{height:196px;text-align:center}
.site-content{padding-top:30px;}
.site-content .container{overflow:hidden;}
.site-content .container .search_travel_openings{width:275px;margin-left:56px;float:left}
.site-content .container .featured_assignment{width:288px;margin-left:70px;float:left}
.site-footer{background:#8dc640}
